<h1>Iflac kampanjat</h1>


<div id='content-wrapper'>

    <div class='rajaus'>
        rajauspaskaa
    </div>

    <div class='kampanjat'>
        {{#each data}}
        <div class="comment">
            {{{nimi}}}
        </div>
        {{/each}}
    </div>

    <div class='spesific-kampanja'>
        Paska kampanja
    </div>
</div>