  <title>Lisaa</title>
  <style>
  .ylabaari {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	silver;

  }

  li.ylabaari  {
    float: left;

  }

  li a {

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  </style>
  <body>
    <div class="">
      <ul class="ylabaari">
        <li class="ylabaari"><a href="/">Etusivu</a> <br></li>
        <li class="ylabaari"><a href="/laskutus">laskutus</a> <br></li>
        <li class="ylabaari"><a href="/mainokset">mainokset</a> <br></li>
        <li class="ylabaari"><a href="/kampanjat">Mainoskampanjat</a> <br></li>

      </ul>
    </div>
  </body>
  <body>
    <form class="" action="lisaa" method="post" >
      <label for="">mainosid</label>
      <input type="number" name="mainosid" value="" id="mainosid"><br>
      <label for="">kampanjaid</label>
      <input type="number" name="kampanjaid" value="" id="kampanjaid"><br>
      <label for="">nimi</label>
      <input type="text" name="nimi" value="" id="nimi"><br>
      <label for="">pituus</label>
      <input type="time" name="pituus" value="" id="pituus"><br>
      <label for="">kuvaus</label>
      <input type="text" name="kuvaus" value="" id="kuvaus"><br>
      <label for="">esitysaika</label>
      <input type="time" name="esitysaika" value="" id="esitysaika"><br>
      <label for="">jingle</label>
      <input type="number" name="jingle" value="" id="jingle"><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
