<title>Lisaa Lasku</title>
</head>
<body>
  <form class="" action="lisaalasku" method="post" >

    <label for="">lahetyspvm</label>
    <input type="date" name="lahetyspvm" value="" id="lahetyspvm"><br>
    <label for="">erapvm</label>
    <input type="date" name="erapvm" value="" id="erapvm"><br>
    <label for="">maksettu</label>
    <select class="jotai" name="tila" type="text" required id= "tila">
      <option value="true">true</option>
      <option value="false">false</option>
    </select> <br>
    <label for="">viitenro</label>
    <input type="text" name="viitenro" value="" id="viitenro" maxlength="20"><br>
    <label for="">viivastysmaksu</label>
    <input type="number" name="viivastysmaksu" value="" id="viivastysmaksu"><br>

    <button type="submit" name="button">Submit</button>
  </form>
</body>
</html>
