  <title>Lisaa</title>
  </head>
  <body>
    <form class="" action="app.js" method="post">
      <label for="">mainosid</label>
      <input type="number" name="mainosid" value=""><br>
      <label for="">kampanjaid</label>
      <input type="number" name="kampanjaid" value=""><br>
      <label for="">nimi</label>
      <input type="text" name="nimi" value=""><br>
      <label for="">pituus</label>
      <input type="text" name="pituus" value=""><br>
      <label for="">kuvaus</label>
      <input type="text" name="kuvaus" value=""><br>
      <label for="">esitysaika</label>
      <input type="text" name="esitysaika" value=""><br>
      <label for="">jingle</label>
      <input type="number" name="jingle" value=""><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
