<title>Kirjaudu</title>
</head>

<body>
    <h2>IFLAC kirjautuminen</h2>
    <form action="/login" method="post">

        <label for="kayttajatunnus">kayttajatunnus</label>
        <input type="text" name="kayttajatunnus" value={{kayttajatunnus}}><br>
        <label for="salasana">salasana</label>
        <input type="password" name="salasana" value={{salasana}}><br>
        <button type="submit" name="button">Submit</button>
    </form>
</body>

</html>