<h1>Iflac mainokset</h1>


<div id='content-wrapper'>


    <div class='mainokset'>
        {{#each data}}
        <ul>
            <li>{{{nimi}}}</li>

        </ul>
        {{/each}}
    </div>

</div>