<title></title>
<style>
  .ylabaari {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;

  }

  li.ylabaari {
    float: left;

  }

  li a {

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
</style>

<body>
  <div class="">
    <ul class="ylabaari">
      <li class="ylabaari"><a href="/kuukausiraportit">Mainostajatiedot</a> <br></li>
      <li class="ylabaari"><a href="/laskutus">laskutus</a> <br></li>
      <li class="ylabaari"><a href="/kuukausiraportit">kuukausiraportit</a> <br></li>
      <li class="ylabaari"><a href="/mainosesitysraportit">Mainosesitysraportit</a> <br></li>
    </ul>
  </div>
</body>

</html>
